/*sector header*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 20px;

    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);

    .nav-link, .form-control, .ms-2 i 
    {
        color: black;
        
        &:hover
        {
           color: #FFD700;  
        }

    }

    .navbar-brand
    {
        font-family: 'Playfaur Display',serif;
        font-size: 2rem;
        font-weight: bold;    
        text-transform: uppercase;

        &::first-letter
        {
            color: #8b4513;
            font-size: 2.5rem;
        }    

        &:hover
        {
            color: #FFD700; 
        }
    }


     

    .form-control {
        background-color: rgba(0, 0, 0, 0.1);
        
        &::placeholder 
        {
            color: rgba(0, 0, 0, 0.5);
        }
        &:focus 
        {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

.home 
{
    .navbar 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    z-index: 1000;
    padding: 15px 20px;
}

.navbar.scrolled 
{
    background: rgba(0,0,0,0.4);
}

.navbar-brand
{
    font-family: 'Playfaur Display',serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

    &:hover
    {
        color: #FFD700; 
    }

    &::first-letter
    {
        color: #8b4513;
        font-size: 2.5rem;
    }
}

.navbar-nav 
{
    .nav-item
    {
        .nav-link
        {
            color: white;
            font-size: 1.1rem;
        }

        .nav-link:hover
        {
            color: #FFD700; 
        }
    }
    
    
}

.ms-2
{
    i{
        color: white;
    }

    i:hover 
    {
        color: #FFD700;
    }
}

.form-control 
{
    background-color: rgba(255,255,255,0.2);
    color: white;
    border: none;

    &::placeholder 
    {
        color: rgba(255,255,255,0.7);
    }

    &:focus
    {
        background-color: rgba(255,255,255,0.4);
        outline: none;
    }
}
}
