/*Archivo index.html*/
main{
    background-color: white;
}

.cover1
{
    background-image: url(../imagenes/index/cover1_image.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 75vh;
    @include flex-center(start,center);
    text-align: center;
    color: $text-color-wh;
    padding: 20px;

    .cover-text {

        p 
        {
            font-family: $font-main;
            font-size: 18px;
            font-weight: 400;
        }
  
        h1
        {
            @include h1;
        }    
    }   
}

.cover2
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    padding: 80px 30px;
    
    .formal_woman, .formal_men, .casual_style 
    {
        @include flex-center(flex-start,center);
        padding: 30px;
        color: $text-color-wh;
        font-family: $font-tittle;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .formal_woman
    {
        background-image: url(../imagenes/index/formal_women_cover2.jpg);
        min-height: 50vh;
    }

    .formal_men
    {
        background-image: url(../imagenes/index/formal_men_cover2.png);
        min-height: 50vh;
    }

    .casual_style
    {
        background-image: url(../imagenes/index/casual_style_cover2.jpeg);
        grid-row: span 2;
        min-height: 100vh;
    }
}

.cover3 
{
    text-align: center;
    padding: 20px 20px;

    h1
    {
        @include h1;
        margin-bottom: 30px;
    }    

    .products_cover3
    {
        @include flex-center(center,none);
        gap: 20px;
        flex-wrap: wrap;

        div
        {
            width: 350px;
            text-align: center;
        }

        img 
        {
            width: 100%;
            height: 450px;
            object-fit: cover;
            border-radius: 10px;
        }

        h3
        {    
            font-family: $font-tittle;
            font-size: 30px;
            margin: 10px 0px;
        }

        p 
        {
            font-family: $font-main;
            font-size: 16px;
            color: gray;
        }
    }

        .button_see_more
        {
            @include flex-center(flex-start,none);
            margin-top: 20px;
            margin-left: 80px;

            button 
            {
                @include flex-center(center,center);
                @include button-style;
                gap: 10px;
                box-sizing: border-box;  
                p 
                {
                    color: $text-color-wh;
                    font-size: 20px;
                    margin: 0;
                }

                i
                {
                    font-size: 20px;
                    color: $text-color-wh;
                    transition: transform 0.3s ease;
                }

                &:hover i 
                {
                    transform: translateX(5px);
                }

            }
        }
}

.cover4 
{
    text-align: center;
    padding: 20px 20px;

    h1
    {
        @include h1;
        margin-bottom: 30px;
    }    

    .products_cover4
    {
        @include flex-center(center,none);
        gap: 20px;
        flex-wrap: wrap;

        div
        {
            width: 350px;
            text-align: center;
        }

        img 
        {
            width: 100%;
            height: 450px;
            object-fit: cover;
            border-radius: 10px;
        }

        h3
        {    
            font-family: $font-tittle;
            font-size: 30px;
            margin: 10px 0px;
        }

        p 
        {
            font-family: $font-main;
            font-size: 16px;
            color: gray;
        }
    }

        .button_see_more
        {
            @include flex-center(flex-start,none);
            margin-top: 20px;
            margin-left: 80px;

            button 
            {
                @include flex-center(center,center);
                @include button-style;
                gap: 10px;
                box-sizing: border-box;  
                p 
                {
                    color: $text-color-wh;
                    font-size: 20px;
                    margin: 0;
                }

                i
                {
                    font-size: 20px;
                    color: $text-color-wh;
                    transition: transform 0.3s ease;
                }

                &:hover i 
                {
                    transform: translateX(5px);
                }

            }
        }    
}

.cover5 
{
    text-align: center;
    padding: 50px 0;
    background-color: #f8f9fa;

    h1 
    {
        @include h1;
        margin-bottom: 30px;
    }

    .testimonial-container 
    {
        @include flex-center(center,none);
        gap: 20px;
        padding: 20px;

        .logo
        {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .name
        {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .date 
        {
            font-size: 0.9rem;
            color: gray;
            margin-bottom: 10px;
        }

        .comment
        {
            font-size: 1rem;
            font-style: italic;
            color: #555
        }
    }

    .carousel-control-prev, .carousel-control-next 
    {
        width: 5%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon 
    {
        background-color: $primary-color;
        padding: 20px 20px;
        border-radius: 50%;
        opacity: 1;
    }
}

