/*Media Queries para celulares*/
@media screen and (max-width: 480px)
{
    /*index.html*/
    .cover1
    {
        .cover-text
        {
            h1 
            {
                font-size: 28px;
            }
        }
    }

    .cover3 
    {
        h1 
        {
            font-size: 36px;
        }
    }

    .cover4 
    {
        h1 
        {
            font-size: 36px;
        }
    }

    footer 
    {
        .footer_container
        {
            display: grid;
            grid-template-columns: 1fr;

        }
    }

    /*Lista de productos*/
    main 
    {
        .product_list
            {
                flex-direction: column;
                align-items: center;

                .search 
                {
                    width: 100%;
                }

                #product_container
                {
                    width: 100%; 
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    width: 100%;
                    
                }
            }

    }

    /*About.html*/
 .about_us 
 {
    .container 
    {
      width: 95%; 
      
      h2 
      {
        font-size: 2rem; 
      }

      .lead
       {
        font-size: 1rem; 
      }

      .info 
      {
        display: flex;
        flex-direction: column;
        .info_box
         {
          width: 100%; 
          padding: 15px;
        }
      }
    }
  }

  /*carrito.html*/
  .carrito-producto 
  {
    flex-direction: column;
    align-items: center;
    text-align: center;

    img.carrito-imagen
    {
        width: 100px;
    }

    .producto-info 
    {
        flex-direction: column;
        gap: 10px;
    }
    
    .producto-detalle 
    {
        flex-direction: column;
        gap: 10px;
     }

    h2{
        font-size: 1.3rem;
      }
  }

}