//Variables
$primary-color: #8B4513;
$secondary-color: #FFD700;
$text-color-bk: black;
$text-color-wh: white;
$font-main: 'Lato',sans-serif;
$font-tittle: 'Playfair Display', serif;
$font-footer: 'Poppins',sans-serif;

